h1 {
    color: brown;
}

img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: chocolate;
    padding: 50px;
    border: crimson 50px solid;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}

body {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Frestaurantesenmendoza.com%2Favada_portfolio%2Froswell%2F&psig=AOvVaw15mlJSsIOjyU5e1ECYvHBB&ust=1651703113743000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCMjH4d2vxPcCFQAAAAAdAAAAABAD);
}